.l-page {
  padding: var(--space-xl) 0 var(--space-3xl);
}

.l-container {
  // width: min(1248px, calc(100% - 2rem));
  width: 1252px;
  margin: 0 auto;
}

.l-container--with-sidebar {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 320px;
  gap: var(--space-xl);
  align-items: start;
}

.l-container--narrow {
  width: min(720px, calc(100% - 2rem));
}

@media (max-width: 960px) {
  .l-container--with-sidebar {
    grid-template-columns: 1fr;
  }
}
